*.o
.*.d
build.ninja
.ninja_log
.ninja_deps
.gdb_history
tags
libscsicmd.a
include/ata_parse.h
smartdb/smartdb_gen.c
test/ata_identify
test/ata_identify_dump.[ch]
test/ata_smart_return_status
test/ata_smart_read_data
test/ata_check_power_mode
test/sense_decode
test/scsi_read_capacity_10
test/scsi_read_capacity_16
test/scsi_inquiry
test/scsi_log_sense
